/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right.
 */

@media all and (min-width: 480px) {
  #content,
  #sidebar-first,
  #sidebar-second {
    float: left; /* LTR */
    display: inline;
    position: relative;
  }
  #content {
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 959px) {
  body.sidebar-first #content,
  body.two-sidebars #content {
    width: 67%;
    float: right; /* LTR */
  }
  body.sidebar-second #content {
    width: 67%;
  }

  #sidebar-first {
    width: 33%;
  }

  #sidebar-second {
    width: 33%;
    float: right; /* LTR */
  }
  body.two-sidebars #sidebar-second {
    float: left; /* LTR */
    clear: left; /* LTR */
  }
}

@media all and (min-width: 960px) {
  body.sidebar-first #content {
    width: 80%;
    left: 20%; /* LTR */
  }
  body.sidebar-second #content {
    width: 80%;
  }
  body.two-sidebars #content {
    width: 60%;
    left: 20%; /* LTR */
  }

  #sidebar-first {
    width: 20%;
    left: -80%; /* LTR */
  }
  body.two-sidebars #sidebar-first {
    left: -60%; /* LTR */
  }

  #sidebar-second {
    float: right; /* LTR */
    width: 20%;
  }
}

/* now, we are done with layout, doing design */

 
#sidebar-first {
  text-align:right;
}

#content .section  {
  margin-right:0.17em;
  margin-left:0.17em;
  padding-left:0.83em;
  padding-right:0.83em;

  border: solid 1px #CCC;
  -webkit-box-shadow: 3px 3px 4px #CCC;
  -moz-box-shadow: 3px 3px 4px #ccc;
  box-shadow: 3px 3px 4px #CCC;
}
#sidebar-first .section {
  margin-right:0.17em;
  padding-left:0.83em;
  padding-right:0.17em;
}

#sidebar-second .section {
  margin-left:0.17em;
  padding-left:0.17em;
  padding-right:0.83em;
}


#logo {
  float:left
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
  color:#444;
}

a:link {
  color:#B72222;
  text-decoration: none;
}

a:visited {
  color:#B72222;
}

a:hover {
  color:#B72222;
  text-decoration: underline;
}

.item-list ul {
  list-style-type:none;
  list-style-position: inside;
}

#block-forum-new .item-list ul li:before {
	content: "\2605 \00A0";
        color: #B72222;
	}

ul.pager {
  font-size: smaller;
}

ul.links.inline {
 font-size:smaller; 
}
.poll .bar .foreground {
  background-color:#B72222;
}

#navigation {
  text-align:center;
  font-size:smaller;
}

.submitted {
 font-size:smaller;
}

/* copied from .element-invisible */
#navigation h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

p {
  text-align:justify;
}

