**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but should not t be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right.
 */

@media all and (min-width: 480px) {
  #content,
  #sidebar-first,
  #sidebar-second {
    float: left; /* LTR */
    display: inline;
    position: relative;
  }
  #content {
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 719px) {
  #main {
    padding-left:160px;
  }

  #sidebar-first {
    width: 160px;
    float:left;
    margin-left: -160px;
  }

  #sidebar-second {
    width: 160px;
    margin-left: -160px;
    clear:left;
  }

  #content {
    float:right;
  }

  #footer {
    clear: both;
  }
}


@media all and (min-width: 720px) {
  #main {
    padding-left: 160px;   /* LC width */
    padding-right: 160px;  /* RC width */
  }

  #main .column {
    position: relative;
    float: left;
  }

  #content {
    width: 100%;
  }

  #sidebar-first {
    width: 160px;          /* LC width */
    right: 160px;          /* LC width */
    margin-left: -100%;
  }

  #sidebar-second {
    width: 160px;          /* RC width */
    margin-right: -160px;  /* RC width */
  }

  #footer {
    clear: both;
  }

  /*** IE Fix ***/
  * html #left {
    #sidebar-first: 160px;           /* RC fullwidth */
  }
}


/* now, we are done with layout, doing design */

/* major structural elements */
#sidebar-first, #sidebar-second {
  /* top:-1em; /* it's a mistery */
}


#sidebar-first .section {
  padding-left: 10px;
}

#sidebar-second .section {
  padding-right:10px;
}

#logo {
  float:left
}

p {
  text-align:justify;
}

h1, h2 {
  font-size: 1.333em;
  color:#222;
  margin: 0.17em 0 0.17em 0;
  text-align:justify;
}

/* links */
a:link {
  color:#B72222;
  text-decoration: none;
}

a:visited {
  color:#B72222;
}

a:hover {
  color:#B72222;
  text-decoration: underline;
}

/* overrides system.menus.css */
ul, ul.menu {
 margin-left:0.5em;
}

ul.li, ul.menu li {
  color: #B72222;
  margin-left: -1.83em;
}

ul li.expanded {
  list-style-image: none;
  list-style-type: circle;
}
ul li.collapsed {
  list-style-image: none;
  list-style-type: disc;
}
ul li.leaf {
  list-style-image: none;
  list-style-type: square;
}

/* #navigation */

#navigation {
  text-align:center;
  font-size:small;
}

/* copied from .element-invisible */
#navigation h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* misc*/

.poll .bar .foreground {
  background-color:#B72222;
}

.poll .title {
  margin: 0.17em;
  font-weight: bold;
  color: #444;
}

.block-poll .links {
  float: right;
  list-style-type: none;
  font-size:small;
}

.more-link, .submitted, ul.links.inline, ul.pager {
 font-size:small;
}

.item-list ul {
  list-style-position: inside;
}

.node .date-display-single {
  float: right;
  color: #B72222;
  font-family: Impact, sans-serif;
  font-size: large;
}

.block .date-display-single {
  float: left;
  color: #B72222;
  font-family: Impact, sans-serif;
  padding-right: 0.5em;
}

.node .field-type-taxonomy-term-reference {
  float: right;
  font-size: small;
  padding-right: 2em;
}


/* blocks*/
#block-forum-new .content, #block-system-navigation .content {
  padding-top:0.17em;
  padding-bottom:0.17em;
}

#block-forum-new .item-list ul {
  padding: 0.83em;
}

.block .item-list ul {
  text-align:left;
}

.block .item-list ul li {
  margin:0;
  color: #B72222;
}

ul.menu {
  font-weight: bold;
  font-size: small;
}

.node, .comment, #forum {
  border: solid 1px #CCC;
  -webkit-box-shadow: 3px 3px 4px #CCC;
  -moz-box-shadow: 3px 3px 4px #ccc;
  box-shadow: 3px 3px 4px #CCC;
  padding: 0.83em;
  margin-bottom:0.83em;
}


#content .section {
  padding:0 10px 0 10px;
}

/* forum */
#forum table {
  width:100%;
}
#forum th, #forum thead th, #forum tbody th  {
  padding-top: 1em;
  padding-bottom:1em;
  background-color: #ccc;
  padding:0.34em 0.34em 0.17em 0.34em;
  border-right: solid 1px white;
  border-left: solid 1px white;
}

#forum td{
  padding-top: 1em;
  padding-bottom:1em;
}

.forum .name {
  font-size:large;
  font-weight: bold;
}

.user-picture {
  float:right;
  padding-left: 0.83em;
}

/* remove underline from primary links menu */
ul.primary {
  border-bottom:none;
  margin: 5px 5px 0 5px;
}

/* action links are inline */
ul.action-links {
  display: inline;
  padding-left: 0;
}

ul.action-links li{
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  font-size:small;
}

.new-topics, .last-reply {
  vertical-align:super;
  font-size:smaller;
}

.user-signature {
  font-size:smaller;
  font-style:italic;
}

.comment ul.links {
  font-size:smaller;
  float:right;
  margin:0

}

.privatemsg-list {
  width:100%;
}

/* node edit form */
#edit-title {
  width:100%;
}

.form-actions input {
  margin-right:0.83em;
}

.administrator, .administrator:link, .administrator:hover, .administrator:visited {
  color:#ff0000;
}

.node-moderator, .node-moderator:link, .node-moderator:hover, .node-moderator:visited {
  color:#b96e22;
}

.forum-moderator, .forum-moderator:link, .forum-moderator:hover, .forum-moderator:visited {
  color:#b922b9;
}

.node .field-name-field-image {
  float:right;
}

.block-locale {
  position:absolute !important;
  top:0;
  right:0;
}


.block-locale .content ul li {
    list-style-type: none;
    padding: 0 2px;
    display:inline;
}

.breadcrumb {
  padding-left: 10px;
  text-align: left;
}

html {
  font-size: .846em;
  line-height: 130%;
}

.new {
  color: #B72222;
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -o-transform:rotate(-14deg);
  -ms-transform:rotate(-14deg);
  display: inline-block;
}
